@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdf9f9;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Genrel CSS */
.p-30 {
  padding: 30px;
}
.px-30 {
  padding-inline: 30px;
}
.pt-30 {
  padding-top: 30px;
}
.mx-100 {
  margin-inline: 100px;
}
.ml10 {
  margin-left: -10px;
}
.h-85 {
  height: 85px;
}
.w-50 {
  width: 50px;
}
.text-22 {
  font-size: 22px;
}
.transform-translate {
  transform: translate(-50%, -50%);
}
.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #007bff 50%, #e0e0e0 50%);
  outline: none;
  opacity: 0.6;
  transition: opacity 0.2s;
  border-radius: 25px;
}

.range-slider:hover {
  opacity: 1;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -5px; /* Adjust to center the thumb vertically */
}

.range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -5px; /* Adjust to center the thumb vertically */
}

.range-slider::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 0; /* Adjust to center the thumb vertically */
}

.range-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-radius: 25px;
}

.range-slider::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-radius: 25px;
}

.range-slider::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-slider::-ms-fill-lower {
  background: #007bff;
  border-radius: 25px;
}

.range-slider::-ms-fill-upper {
  background: #e0e0e0;
  border-radius: 25px;
}
